body {
  margin: 0px;
  background-size:100%;
}
/* #teste{
  margin: 20px;
} */
.estiloesq{
  width: 48.9%;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  border-radius: 8px;
  background: white;
  margin-bottom:10px;
  margin-left:10px;
}
.estilodir{
  width: 48.9%;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  border-radius: 8px;
  background: white;
  margin-bottom:10px;
  margin-right:10px;
}
.footer {
  background: #1C1C1C;
  color: #FFFF00;
  padding: 1px;
  text-align: center;
  margin:0px;
  font-family: "Captura", Arial, sans-serif;
  height:60px;
  line-height:15px;
}